//- Value Setting
-var Full_Name = "Иванов Иван Иванович"; 
-var Year = "1990";
-var Adress = "г. Иваново, Россия";
-var Skype = "ivanov";
-var Email = "ivanov@gmail.com";

mixin profile()
	+b.SECTION.profile&attributes(attributes)
		+e.container
			+e.FORM.form
				+e.item
					+e.LABEL.title(for="form-name") Полное ФИО
					+e.input-block
						+e.INPUT.input._name(id="form-name" type="text" name="name" value=" #{Full_Name}")
				+e.item
					+e.LABEL.title(for="form-year") Год рождения
					+e.input-block
						+e.INPUT.input._year(id="form-year" type="text" name="year" value="#{Year}")
				+e.item
					+e.LABEL.title(for="form-address") Место жительства
					+e.input-block
						+e.INPUT.input._address(id="form-address" type="text" name="address" value="#{Adress}")
				+e.item
					+e.LABEL.title(for="form-skype") Скайп
					+e.input-block
						+e.INPUT.input._skype(id="form-skype" type="text" name="skype" value="#{Skype}")
				+e.item
					+e.LABEL.title(for="form-email") Почта
					+e.input-block
						+e.INPUT.input._email(id="form-email" type="text" name="email" value="#{Email}")